body{
  background: var(--bg, #211E1C);
}
.ustun-1{
  color: var(--txt, #BEAE97);
}
.ustun-2{
  width: 1150px;
}
.ustun-3{
  width: 165px;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #D6B88D;
  background: #2B2825;
  color:#D6B88D ;
}
.ustun-5{
  display: flex;
  height: 55px;
  width: 750px;
  align-items: center;
  gap: 40px;  
  flex: 1 0 0;border-radius: 4px;
  border: 1px solid #514941;
  background: var(--footer, #12110F);
  box-shadow: 0px 0px 10px 0px rgba(160, 149, 133, 0.20);
}
.ustun-6 .card-2{
  margin-right: 900px;
}
.ustun-7{
  width: 100%;
  height: 530px;
}
.ustun-8{
  width: 100%;
}
.ustun-9{
  width: 522px;
  height: 400px;
}
.ustun-10{
  width: 359px;
  height: 400px;
}
.ustun-1a{
  height: 100px;
}
.button1{
  margin-bottom: 10px;
  height: 50px;
  font-size: 18px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #D6B88D;
  background: #2B2825;
  box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.40);
}
.button2{
  margin-bottom: 10px;
  height: 44px;
  font-size: 18px;
  width: 245px;
  border-radius: 4px;
  border: 1px solid #D6B88D;
  background: #2B2825;
  box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.40);
}
.button{
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #D6B88D;
  background: #2B2825;
  box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.40);
  font-size: 18px;
}
.card-1a{
  height: 380px;
}
.card-2a{
  color: #E1D3BD;
}
.card2{
  margin-top: 200px;
}

/* katalog */
.accordion{
  display: flex;
  width: 305px;
  padding: 10px;
  flex-direction: column;
  border-radius: 4px;
  background: var(--bg, #211E1C);
  box-shadow: 0px 9px 15px 0px rgba(116, 107, 90, 0.41);
}

.accordion-item{
  font-size: 18px;
  font-weight: 400;
  background: linear-gradient(92deg, #C09E6C -1.94%, #FFEBCC 40.99%, #BF936B 98.79%);
  background-clip: text;
}

.accordion-xbutton{
  display: flex;
  padding: 6px 20px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--txt-dark, #36332E);
  color: var(--txt, #BEAE97);
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin-top: 20px;
}

.acc-button{
  display: flex;
  padding: 6px 20px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--txt-dark, #36332E);
  color: var(--txt, #BEAE97);
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin-top: 20px;
}
/* katalog end */

/* tavar */
.box-1{
  min-width: 300px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 4px;
  background: var(--txt-dark, #36332E);
}

.box-1 p{
  color: var(--txt, #BEAE97);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.box-1, .span-1{
  color: var(--txt, #BEAE97);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%; 
  text-align: center;
}

.box-1, .span-1 span{
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
}

.korzinka{
  padding: 10px 80px;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid #D6B88D;
  background: #2B2825;
  box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.40);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(92deg, #C09E6C -1.94%, #FFEBCC 40.99%, #BF936B 98.79%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.korzinka:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}

.box-1,.img1{
  filter: blur(10px);
}

.box-1, .img1:hover{
  filter: blur(0);
}
/* tavar end */

/* footer */
.footer{
  background: var(--footer, #12110F);
}

.foter-text1 p, .footer-end p{
  color: var(--txt, #BEAE97);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}

.text-all{
  gap: 175px;
}
/* footer end */